doctype html
html
  head
    <meta charset="utf-8">
    link(rel='favicon', sizes='64x64', href='favicon.ico')
    style
        include ../public/stylesheets/jquery-ui.css
        include ../public/stylesheets/autocomplete.css
        include ../public/stylesheets/style.css

    script(src='javascripts/jquery-1.12.4.js')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/autocomplete/autocomplete.js')
    script(src='javascripts/client.js') 
    script(src='javascripts/Chart.js')
body
<title id="title"></title>
<div id="songtitle"></div>
<img id="winamp" src="images/winamp470x200.png" usemap="#winampmap">
<div id="timeremaining"></div>
<div id="volume" class="slider"></div>
<img id="progressbar" src="images/progressbar.png">
<img id="shuffleenabled" src="images/shuffle.png">
<map id="winampmap" name="winampmap">
    <area id="prev" shape="rect" coords="28,150,65,180">
    <area id="pause" shape="rect" coords="107,150,145,180">
    <area id="next" shape="rect" coords="184,150,221,180">
    <area id="shuffle" shape="rect" coords="280,150,359,176">
</map>
<div id="search">
    <input type="text" id="searchinput" placeholder="Mp3 Search"  />
    <button id="playsong">Play</button>
    <button id="queuesong">Queue</button>
    <select id="playlist" size=20></select>
</div>
<div id="dialog">dialog</div>
<div class="chart-container">
    <canvas id="chart"></canvas>
</div>
<a href="http://crcw.mb.ca:8000/winamp.m3u">Listen</a>
