doctype html
html
  head
    <meta charset="utf-8">
    link(rel='favicon', sizes='64x64', href='images/favicon.ico')
    style
        include ../public/stylesheets/jquery-ui.css
        include ../public/stylesheets/autocomplete.css
        include ../public/stylesheets/style.css

    script(src='javascripts/jquery-1.12.4.js')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/autocomplete/autocomplete.js')
    script(src='javascripts/client.js') 
    script(src='javascripts/chart.js')
body
<title id="title"></title>
<div id="mutedialog"></div>
<div id="popupdialog"></div>
<div id="songtitle"></div>
<div id="winampdiv">
    <img id="winamp" src="images/winamp470x200.png" usemap="#winampmap">
    <img id="ispaused" src="images/playing.png">
    <div id="clock"></div>
    <div id="volume" class="slider"></div>
    <img id="progressbar" src="images/progressbar49x17.png">
    <img id="shuffleenabled" src="images/shuffle.png">
    <map id="winampmap" name="winampmap">
        <area id="prev" shape="rect" coords="22,150,50,180">
        <area id="pause" shape="rect" coords="82,150,110,180">
        <area id="next" shape="rect" coords="142,150,169,180">
        <area id="shuffle" shape="rect" coords="215,155,275,175">
    </map>
</div>
<input id="searchinput" type="text" placeholder="Mp3 Search"  />
<button id="playsong">Play</button>
<button id="queuesong">Queue</button>
<select id="playlist"></select>
<div class="chartcontainer">
    <canvas id="chart" oncontextmenu="return false;"></canvas>
</div>
<a href="http://crcw.mb.ca:8000/winamp.m3u">Listen</a>
