@font-face {
    font-family: "Hack-Regular";
    src: url("/fonts/Hack-Regular.ttf");
    font-family: "DS-Regular";
    src: url("/fonts/digital.ttf");   
}

body {
    font-family: "Hack";
    font-weight: bold;
    font-size: 24px;
    background: url(/images/space.png);
    color: #0d0;
    text-align: center;
    display: inline-block;
}

a {
    color: #0d0;
}

option {
    background: #000;
 
}

table {
    /* text-align: center; */
}

#chart {
    padding-top: 20px;
    padding-bottom: 20px;
}

#chartcontainer {
    display: inline-block;
}

#charttooltip {
    margin-top: 150px;
    padding: 20px;
    position: fixed;
    font-family: inherit;
    font-size: 20px;
    top: 50%;
    border: 1px solid #0f0;
    border-radius: 20px;
    background: #000;
}

#songtitle {
    font-family: inherit;
    width: 100%;
    height: 50px;
    font-size: 24px;
}

#paused {
    margin-left: -420px;
    margin-top: 50px;
    position: absolute;
    z-index: 1;
}

#clock {
    margin-top: 40px;
    margin-left: 810px;
    font-family: "DS-Regular";
    font-size: 36px;
    
    z-index: 1;
}

#slidervolumespan {


    background-color: #0f0;
    width:  50px;
    height: 3px;
    top: 100px;
    left: 120px;
    z-index: 1;
}

#slidervolumeknob::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  background: url('/images/volumeknob.png');
}

#sliderprogressbarspan {
        margin-left: -420px;
    margin-top: 50px;
    position: absolute;
    z-index: 1;
/*
    position: absolute;
    margin-top: 158px;
    margin-left: 0px;
*/
/*    background-color: #fff; 
    z-index: 1;
    height: 17px;*/
}

#sliderprogressbarknob::-moz-range-thumb {
  height: 17px;
  width: 49px;
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  background: url('/images/progressbarknob49x17.png');
}
/*
#progressbarhandle {
    background-color: #000;
    z-index: 1;
    display: block;
}
*/
/*
#winampspan {
    margin-bottom: 25px;
}
*/

#shuffleenabled {
    margin-top: 158px;
    margin-left: -482px;
    
    display: inline-block;
    z-index: 1;
}

#autocompleteform {
    display: inline;
}

#autocompleterow {
    text-align: center;
}

#searchinput {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px; 
    font-family: inherit;
    font-weight: inherit;
    text-align: left;
    color: inherit;
    border: 1px solid #888;
    background-color: #000;
}

#playsong,
#queuesong {
    padding: 5px;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid #888;
    background-color: #000;
    color: inherit;
}

#playlist {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

[id*="resultrow_"]  {
    text-align: left;
    cursor: pointer;
    font-size: 10px;
}

[id*="dialog_"]  {
/*    text-align: left;
    cursor: pointer;
    font-size: 10px; */

    padding: 20px;
    position: fixed;
    /* top: 40%; */
    transform: translateX(-50%);
    left: 50%;
    color: #fd1;
    border: 1px solid #fd1;
    border-radius: 20px;
    background: #000;
    z-index: 3; /* ???? */
    /*display: none;*/
}
/*
#mutedialog,#popupdialog { 
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fd1;
    border: 1px solid #fd1;
    border-radius: 20px;
    background: #000;
    z-index: 3;
    display: none;
}
