@font-face {
    font-family: "Hack-Regular";
    src: url("/fonts/Hack-Regular.ttf");
    font-family: "DS-Regular";
    src: url("/fonts/digital.ttf");   
}

body {
    font-family: "Hack";
    font-weight: bold;
    font-size: 24px;
    background: url(/images/space.png);
    color: #0d0;
    text-align: center;
    /* display: inline-block; maybe for bb */
}

a {
    color: #0d0;
}

option {
    background: #000; 
}

#autocompleteform {
    display: inline;
}

#autocompleterow {
    text-align: center;
}

#buttonplay,
#buttonqueue {
    padding: 5px;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid #888;
    background-color: #000;
    color: inherit;
}

#chart {
    padding-top: 20px;
    padding-bottom: 20px;
}

#chartcontainer {
    display: inline-block;
}

#charttooltip {
    margin-top: 150px;
    padding: 20px;
    position: fixed;
    font-family: inherit;
    font-size: 20px;
    top: 50%;
    border: 1px solid #0f0;
    border-radius: 20px;
    background: #000;
}

#clock {
    margin-top: -170px;
    margin-left: -240px;
    font-family: "DS-Regular";
    font-size: 36px;
    z-index: 1;
}

#paused {
    margin-left: 45px;
    margin-top: -25px;
    position: absolute;    
    z-index: 1;
}

#playlist {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

#searchinput {
    font-family: inherit;
    font-weight: inherit;
    text-align: left;
    color: inherit;
    border: 1px solid #888;
    background-color: #000;
    margin-top: 100px;
}

#shuffleenabled {
    margin-left: 279px;
    margin-top: 83px;
    position: absolute;    
    z-index: 1;
}

#songtitle {
    font-family: inherit;
    width: 100%;
    height: 50px;
    font-size: 24px;
}

input[id="volume"] {
    margin-left: 230px;
    margin-top: 25px;
    background-color: #000;    
    height: 16px;
    width: 100px;
}

#volume::-moz-range-thumb {
    width: 24px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border: 0px;
    cursor: pointer; /* Cursor on hover */
    background: url('/images/knob_volume_24x18.png');
}

input[id="progress"] {
    margin-left: -350px;
    margin-top: 55px;
    background-color: #000;    
    height: 18px;
    width: 440px;    
}

#progress::-moz-range-thumb {
    margin-left: 230px;
    margin-top: 25px;
    height: 17px;
    width: 49px;
    border: 0px;
    cursor: pointer; /* Cursor on hover */
    background: url('/images/knob_progress_49x17.png');
}

#winampdiv {
/*    margin-bottom: 25px;*/
}

[id*="resultrow_"]  {
    text-align: left;
    cursor: pointer;
    font-size: 10px;
}

[id*="dialog_"]  {
    padding: 20px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 40%;
    color: #fd1;
    border: 1px solid #fd1;
    border-radius: 20px;
    background: #000;
    z-index: 1; 
}
