
.autocomplete {
    background: #030;
    color: #0f0;
    z-index: 1000;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #000;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #060;
    color: #0f0;
    cursor: pointer;
}

strong {
    color: #ff0;
}