@font-face {
    font-family: "Hack-Regular";
    src: url("/fonts/Hack-Regular.ttf");
    font-family: "DS-Regular";
    src: url("/fonts/digital.ttf");
    font-size: 22px;
}

body {
    color: #0d0;
    background: url(/images/space.png);
    text-align: center;
    font-family: "Hack";
    font-size: 18px;    

}

a {
    color: #0d0;
}

option {
    background: #000;
    color: #0d0;
}

strong {
    color: #fede18;
}

.chart-container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#myChart {
     
     background-color: transparent;
    
}

#songtitle {
    height: 50px;
}

#winamp {
   
}

#timeremaining {
    position: relative;
    bottom: 172px;
    right: 118px;
    font-family: "DS-Regular";
    font-size: 40px;
}

#volume {
    position: relative;
    bottom: 159px;
    left: 45px;
    background-color: #d37824;
    width: 95px;
    height: 3px;
    display: inline-block;
}

#progressbar {
    position: relative;
    bottom: 130px;
}

#shuffleenabled {
    position: relative;
    bottom: 104px;
    right: 27px;
}

.ui-slider .ui-slider-handle {
    background: url(/images/volumeknob.png);
    background-size: cover;
    height: 13px;
    width: 20px;
    right: 0px;
    top: -7px;
}

#dialog {
    text-align: center;
    position: fixed;
    width: 50%;
    padding: 20px 0px 20px 0px;
    top: 40%;
    left: 25%;
    background: #444;
    border: 1px solid #0f0;
    display: none;
}

.group {
    text-align: center;
}

#autocompleteform {
    display: inline;
}

#autocompleterow {
    text-align: center;
    font: inherit;
    margin: 100px 100px 100px 100px;
}

#playlist {
    font: inherit;
color: inherit;
}


#searchinput {
    margin-bottom: 25px;
    font: inherit;
    text-align: left;
    background-color: #000;
    color: inherit;
    width: 65%;
    border: 1px solid #888;
}

#playsong,
#queuesong {
    font: inherit; 
    padding: 2px 5px 2px 5px;
    border: 1px solid #888;
    background-color: #000;
    color: inherit;
}

[id*="resultrow_"]  {
    text-align: left;
}

/*div.selected {
    */
[id*="resultrow_"]
    background: #fff;
    color: #0f0;
    cursor: pointer;
}


#formdiv {
  
    
}