@font-face {
    font-family: "Hack-Regular";
    src: url("/fonts/Hack-Regular.ttf");
    font-family: "DS-Regular";
    src: url("/fonts/digital.ttf");
    
}

body {
    background: url(/images/space.png);
    font-family: "Hack";
    font-size: 20px;
    margin-left: 0px;
    text-align: left;
}

a {
    color: #0d0;
}

option {
    background: #000;
 
}

table {
    text-align: center;
}

#chart {
    display: none;
}

#charttooltip {
    font-family: "Hack";
    font-size: 20px;
    margin-top: 150px;
    padding: 20px;
    position: fixed;
    top: 50%;
    border: 1px solid #0f0;
    border-radius: 20px;
    background: #000;
}

#songtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 470px;
    font-size: 22px;
    font-weight: bold;
}

#winampdiv {
    padding: 0px;
    margin: 0px;

}

#winamp {
    width: 360px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    z-index: -1;

}

#ispaused {
    position: absolute;
    margin-left: -320px;
    margin-top: 51px;
    z-index: 1;
}

#clock {
    position: absolute;
    display: inline-block;
    margin-top: 44px;
    margin-left: -308px;
    font-family: "DS-Regular";
    font-size: 29px;
    z-index: 1;
}

#volume {
    display: inline-block;
    position: absolute;
    margin-top: 108px;
    margin-left: -220px;
    background-color: #0f0;
    width: 80px;
    height: 3px;
    z-index: 1;
}

#progressbar {
    position: absolute;
    margin-top: 124px;
    z-index: 1;
}

#shuffleenabled {
    position: absolute;
    margin-top: 158px;
    margin-left: -147px;
    z-index: 1;
}

.ui-slider .ui-slider-handle {
    background: url(/images/volumeknob.png);
    background-size: cover;
    height: 13px;
    width: 20px;
    right: 0px;
    top: -7px;
}

.group {
    text-align: center;
}

#autocompleteform {
    display: inline;
}

#autocompleterow {
    text-align: center;
    font: inherit;
}

#playlist {
    font: inherit;
    color: inherit;
}

#searchinput {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
    font: inherit;
    text-align: left;
    background-color: #000;
    color: inherit;
    border: 1px solid #888;
}

#playsong,
#queuesong {
    font: inherit; 
    padding: 2px 5px 2px 5px;
    border: 1px solid #888;
    background-color: #000;
    color: inherit;
}

[id*="resultrow_"]  {
    text-align: left;
    cursor: pointer;
}

#mutedialog,#popupdialog { 
    top: 45%;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: #fd1;
    border: 1px solid #fd1;
    border-radius: 20px;
    background: #000;
    display: none;
    z-index: 3;
}
